* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column; /* Organiza o conteúdo verticalmente */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0D0D0D;
    color: #E0E0E0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    width: 90%;
    max-width: 900px;
    gap: 30px;
    background-color: #1A1A1A;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 255, 171, 0.1);
    flex-grow: 1; /* Permite que a .container ocupe o espaço restante acima do footer */
}

.section {
    width: 100%;
    min-width: 300px;
    background-color: #2B2B2B;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 255, 171, 0.3);
}

h2 {
    color: #00FFAB;
    text-align: center;
    margin-bottom: 20px;
}

textarea, .key-input {
    width: 100%;
    background-color: #333;
    color: #E0E0E0;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

textarea {
    height: 150px;
    resize: none;
    margin-top: 20px;
}

textarea:focus, .key-input:focus {
    background-color: #444;
    outline: none;
}

.key-input {
    margin-top: 10px;
}

button {
    background-color: #00FFAB;
    color: #0D0D0D;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00D79B;
}

button:active {
    background-color: #00B386;
}

.site-footer {
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    width: 100%;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    h2 {
        font-size: 1.5rem;
    }

    button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    textarea {
        height: 120px;
        font-size: 14px;
    }

    .key-input {
        font-size: 14px;
    }
}
